@font-face {
    font-family:courgette;
    src: url(../FONT/Courgette-Regular.ttf);
}
@font-face {
    font-family:oswald;
    src: url(../font/Oswald-VariableFont_wght.ttf);
}
body{
    font-family:courgette;
}
header{
       background-image:url(../img/header.jpg);
       height: 70VH;
       width: 100vw;
       background-position: center ;
       background-size: cover;
       font-family: courgette;
}
.img-one{
    align-items: center;
    
}
article > h1{
        text-align: center;
        padding: 4vh;
    
}
h2{
    padding: 2VH;
    margin: auto;
}
.article{
    padding: 2vh;
    align-items: center;
}
.back{
    color: brown;
    text-decoration: none;
}
.redirect{
    text-decoration: none;
}
footer{
    background-color: black;
    color: white;
}
 h3 #link-footer{
    color: white;
}
#date{
    color: white;
}