@font-face {
    font-family:courgette;
    src: url(../FONT/Courgette-Regular.ttf);
}
@font-face {
    font-family:oswald;
    src: url(../font/Oswald-VariableFont_wght.ttf);
}
body{
    font-family:courgette;
}
header{
       background-image:url(../img/header.jpg);
       height: 70VH;
       width: 100vw;
       background-position: center ;
       background-size: cover;
       font-family: courgette;
}
.img-one{
    align-items: center;
    
}
h2{
    padding: 2VH;
    margin: auto;
}

.back{
    color: brown;
    text-decoration: none;
}
.redirect{
    text-decoration: none;
}
footer{
    background-color: black;
    color: white;
    text-decoration: none;
}

#date{
    color: white;
}
footer  a{
    text-decoration: none;
    color:white
}
h2{
    text-align: center;
    margin: auto;
    padding: auto;
}
