@font-face {
    font-family:courgette;
    src: url(../FONT/Courgette-Regular.ttf);
}
@font-face {
    font-family:oswald;
    src: url(../font/Oswald-VariableFont_wght.ttf);
}
body{
    font-family:courgette;
}
header{
       background-image:url(../img/header.jpg);
       background-position-x: center;
       background-position-y:center;
       height: 70VH;
       width: 100vw;
       background-position: center ;
       background-size: cover;
       font-family: courgette;
}
.img-one{
    align-items: center;
    
}
h2{
    padding: 2VH;
    margin: auto;
}

.back{
    color: brown;
    text-decoration: none;
}
.redirect{
    text-decoration: none;
}
footer{
    background-color: black;
    color: white;
    text-decoration: none;
}

#date{
    color: white;
}
footer  a{
    color:white;
    padding-left: 4vh;
}
h2{
    text-align: center;
    margin: auto;
    padding: 1vh;
}
.redirect a {
    text-decoration: none;
    color:black;
}
nav{
    background-color: #000000ac;
}
.header-content{
    background-color:#000000ac;
}
.newsletter{
    padding: 2vh;
}
.first-paragraphe{
    text-align: center;
}
.last-article{
    padding-top: 2vh;
    padding-bottom: 2vh;
}
.text-suzette{
    padding-left: 1VH;
}
h3{
    padding: 1vh;
}